.ProjectsMenu {
    min-width: 230px;
    height: calc(100vh - 50px);
    background-color: rgba(228, 217, 200, 0.486);
    border-left: 1px solid #eee;
    border-radius: 20px 0 0 0;
    padding: 10px 15px 10px 10px;
    display: flex;
    flex-direction: column;
}

.ProjectsHeader {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(218, 217, 217);
}

/* .Projects {
    display: flex;
    flex-direction: column;
}

.ProjectItem {
    padding: 5px;
    margin: 5px 0;
    border-right: 5px solid rgb(222, 160, 135);
    cursor: pointer;
}

.ProjectItem span {
    width: 5px;
    height: 5px;
    background-color: black;
} */
