.ProjectsMenu {
    width: 250px;
    height: calc(100vh - 50px);
    background-color: #fafafa;
    border-radius: 10px 0 0 0;
    padding: 10px 15px 10px 2px;
    display: flex;
    flex-direction: column;
}

.ProjectsHeader {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-left: 10px;
    border-bottom: 2px solid #f3f3f3;
}

.DeleteProjectBtn {
    padding: 5px 10px;
    margin: 10px;
    border: none;
    background-color: #ff6600;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-radius: 10px 2px 10px 2px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.DeleteProjectBtn:hover {
    background-color: #940b06;
}

/* .Projects {
    display: flex;
    flex-direction: column;
}

.ProjectItem {
    padding: 5px;
    margin: 5px 0;
    border-right: 5px solid rgb(222, 160, 135);
    cursor: pointer;
}

.ProjectItem span {
    width: 5px;
    height: 5px;
    background-color: black;
} */
