.ProjectsDashboard {
    display: flex;
    background-color: #fff;
    position: relative;
}

.ShowEmptyNotification {
    background-color: rgba(206, 206, 206, 0.795);
    color: #222222;
    margin:  20px auto;
    padding: 10px 5px;
    text-align: center;
    font-weight: bolder;
    border-radius: 5px;
}
