.Task {
    width: 95%;
    min-height: 60px;
    margin: 10px auto;
    background-color: #b3e2e4;
    /* border: 1px solid gray; */
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.Task:hover {
    box-shadow: 0 0 10px rgb(102, 102, 102);
}