.Task {
    width: 95%;
    height: 60px;
    margin: 10px auto;
    background-color: rgb(187, 191, 248);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.Task:hover {
    background-color: rgb(150, 157, 250);
}