.Backdrop {
    position: absolute;
    width: 100%;
    height: calc(100vh - 50px);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(187, 187, 187, 0.651);
    z-index: 50;
}