.Backdrop {
    position: absolute;
    width: 100%;
    height: calc(100vh - 50px);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #7f7f7f8a;
    z-index: 50;
}