.Button {
    /* display: inline-block; */
    font-size: inherit;
    font-family: inherit;
    padding: 5px 10px;
    margin: 5px 10px;
    width: 70px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.Green {
    background-color: rgb(30, 255, 150);
}

.Green:hover {
    background-color: rgb(12, 240, 31);
}

.Red {
    background-color: rgb(230, 120, 76);
}

.Red:hover {
    background-color: rgb(233, 75, 35);
}

.Button:disabled {
    cursor: not-allowed;
    background-color: rgb(155, 155, 155);
}