.Button {
    /* display: inline-block; */
    padding: 5px 10px;
    margin: 5px 10px;
    width: 70px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.Green {
    background-color: rgb(30, 255, 86);
}

.Green:hover {
    background-color: rgb(8, 211, 58);
}

.Red {
    background-color: rgba(253, 89, 24);
}

.Red:hover {
    background-color: rgb(214, 54, 14);
}

.Button:disabled {
    cursor: not-allowed;
    background-color: rgb(155, 155, 155);
}