.Button {
    /* display: inline-block; */
    background-color: #ffffff;
    font-family: inherit;
    padding: 2px 0px;
    margin: 5px 2px;
    width: 50px;
    font-size: 14px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.Green {
    color: green;
}

.Green:hover {
    color: rgb(22, 145, 33);
    background-color: rgba(125, 224, 134, 0.295);
}

.Red {
    color: red;
}

.Red:hover {
    color: rgb(245, 59, 59);
    background-color: rgba(221, 126, 126, 0.24);
}

.Button:disabled {
    cursor: not-allowed;
    color: rgb(155, 155, 155);
    background-color: transparent;
}
