.ProjectItem {
    padding: 5px 10px 5px 25px;
    max-width: 250px;
    position: relative;
    margin: 5px 0;
    border-right: 5px solid #bdbdbd;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.2s ease-in-out;
}

.SettingIcon {
    position: absolute;
    left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16px;
    top: 50%;
    font-size: 16px;
    opacity: 0;
    z-index: 5;
    transform: translateY(-50%);
    transition: all 0.3s ease-out;
}

.ProjectItem:hover .SettingIcon {
    opacity: 0.3;
}

.ProjectItem:hover .SettingIcon:hover {
    opacity: 0.8;
}

.ActivaProject {
    border-color: #23bb3c;
    background-color: #eeeeee;
    border-radius: 6px 0 0 6px;
}

.ProjectItem:hover {
    background-color: #eeeeee;
    border-radius: 6px 0 0 6px;
}
