.ProjectItem {
    padding: 5px;
    margin: 5px 0;
    border-right: 5px solid rgb(41, 75, 177);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.ProjectItem:hover {
    border-right: 5px solid rgb(177, 129, 41);
}

.ActivaProject {
    border-right: 5px solid rgb(57, 177, 41);
    background-color: rgba(65, 177, 50, 0.288);
}
