.TaskContainer {
    min-width: 200px;
    height: 95%;
    /* overflow-y: scroll; */
}

.TaskContainer:hover {
    background-color: rgba(219, 219, 219, 0.637);
}

@media only screen and (min-width: 900px) {
    .TaskContainer {
        width: 300px;
    }
}

.TaskContainer h4 {
    text-align: center;
    margin: 0;
    padding-bottom: 9px;
    border-bottom: 2px solid gray;
}
