.TaskCreator {
    width: 95%;
    margin: auto;
    z-index: 200;
}

.TaskNameContainer {
    width: 100%;
    padding: 10px 5px;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 5px;
}

.TaskNameContainer:focus {
    outline: none;
}

.TaskCreator input {
    height: 60px;
}
