.ProjectArea {
    background-color: #ffffff;
    width: calc(100% - 230px);
    height: calc(100vh - 50px);
    display: flex;
    justify-content: space-between;
    margin-right: 0;
    gap: 30px;
    padding: 10px 25px 0;
    overflow-x: scroll;
}

.ProjectArea::-webkit-scrollbar {
    height: 10px;
}

.ProjectArea::-webkit-scrollbar-track {
    background: #e6e6e6;
    border-radius: 15px;
}

.ProjectArea::-webkit-scrollbar-thumb {
    background: #c4c4c4;
    border-radius: 10px;
}

.ProjectArea::-webkit-scrollbar-thumb:hover {
    background: rgb(153, 153, 153);
}

.EmptyProjectArea {
    margin: 150px auto auto;
    font-size: 24px;
    text-align: center;
    box-shadow: 0 0 5px #ccc;
    color: #23bb3c;
    border-radius: 20px;
    padding: 10px;
    max-width: 500px;   
}
