@font-face {
  font-family: 'Samim';
  src: url('./fonts/Farsi-Digits/Samim-FD.eot');
  src: url('./fonts/Farsi-Digits/Samim-FD.ttf') format('truetype');
  src: url('./fonts/Farsi-Digits/Samim-FD.woff') format('woff');
  src: url('./fonts/Farsi-Digits/Samim-FD.woff2') format('woff2');
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  /* height: 100%; */
  direction: rtl;
  font-family: 'Samim' sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'samim';
}
div {
  font-family: 'samim';
  
}

input, button, textarea, select {
  font: inherit;
}

/* FOR STYLE OF DATE PICKER LIBRARY  */
.tether-element {
  z-index: 150;
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%) !important;
  box-shadow: 0 0 5px gray;
  border-radius: 15px !important;
}

.calendarContainer  {
  background-color: #fff !important;
  border-radius: 15px !important;
  font-size: 14px !important;
}

.rc-time-picker-input {
  display: block;
}
